/*------------------------ SEARCH RESULT ------------------------*/



.SearchResult
{
    background-color: var(--i-sr-background-color);
    border-color: var(--i-sr-border-color);
    border-radius: var(--i-sr-border-radius);
    border-style: solid;
    border-width: 0.13em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
}

/*------------------------ ICONS ------------------------*/
i
{
    color: var(--i-sr-icon-color);
    cursor: pointer;
    font-size: 1.4em;
    margin-left: 0.3em;
}
/*.i.wrapper*/
/*{*/
/*    align-self: start;*/
/*    justify-content: right;*/
/*}*/

#open
{
    position: relative;
    top: 0.04em;
}

/*------------------------ LIST ------------------------*/
li
{
    list-style: none;
}

/*------------------------ H ------------------------*/
/*------ H3 ------*/
h3
{
    margin: 0 0.5em 0 0;
}
/*------ SPAN ------*/
#id
{
    color: var(--i-page-light-color);
}

/*------ H5 ------*/
h5
{
    color: var(--i-page-light-color);
    margin: 0;
    padding: 0;
}

/*!*------------------------ A ------------------------*!*/
/*a*/
/*{*/
/*    background-color: var(--i-sr-link-background-color);*/
/*    border-color: var(--i-sr-link-border-color);*/
/*    border-radius: var(--i-sr-link-border-radius);*/
/*    border-style: solid;*/
/*    color: var(--i-page-link-color);*/
/*    text-decoration: none;*/
/*    margin: 0 0 0 0.5em;*/
/*    padding: 0.1em 0.5em;*/
/*}*/

.a.wrapper
{
    justify-content: left;
}

/*------------------------ DIV ------------------------*/
.wrapper
{
    all: revert;
    display: flex;    /*align-items: center;*/
    flex-direction: row;
}

.wrapper.items
{
    width: 100%;
    justify-content: space-between;
}

/*------------------------ ADRESS ------------------------*/
address
{
    color: var(--i-page-light-color);
}



#open
{
    mask : url("../../icons/new_1.svg") center/contain no-repeat;
}
