:root {
  --border-width: 0.2rem;

  /* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ BUTTON ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
  --button-border-width: var(--border-width);
  --button-border-radius: 2rem;
  --button-box-shadow: 0.2em 0.4em 0.3em rgba(0, 0, 0, 0.4);
  --button-box-shadow-animated: 0.4em 0.8em 0.8em rgba(0, 0, 0, 0.5);
  --button-hover-scale: scale(1.05);

  --element-border-radius: 2rem;
  --element-border-width: 0.2rem;

  --param-margin: 1rem;
  --param-connection-diameter: 1rem;
  --param-connection-margin: calc(
    var(--param-connection-diameter) / -2 - var(--node-border-width) / 2
  );
}
