@import "../index.css";

main
{
    all            : revert;
    align-items    : center;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    height         : 100%;
    overflow       : clip;
    width          : 100%;
}

aside
{
    height  : 100%;
    margin  : 0;
    padding : 0;
    width   : 30%;
}

h1
{
    height     : fit-content;
    margin     : 0;
    padding    : 0;
    text-align : center;
    width      : 70%;
}

section
{
    height: 100%;
}

.Search
{
    height: 100%;
}