:root {
  --node-width: 10rem;
  --node-header-height: 4rem;
  --node-footer-height: 4rem;
  --node-margin: var(--param-connection-diameter);

  --node-border-width: var(--element-border-width);
  --node-border-radius: var(--element-border-radius);
}
