/*------------------------ DEFAULT ------------------------*/
@import "../page/style.css";

section
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 3em;
    justify-content: space-between;
    width: 100%;
}

div
{
    background-color: gray;
    border-radius: 1em;
    height: 1em;
    position: relative;
    width: 1em;
    z-index: 1;
    top: -1px;
}

div.left
{
    right: 0.5em;
}

div.right
{
    left: 0.5em;
}

canvas.draw
{
    /*outline: 1px solid black;*/
    /*outline-offset: -1px;*/
    position: fixed;
    pointer-events: none;
    z-index: 10;
    /*background-color: #0949d1;*/
    /*height: 0;*/
    /*width: 0;*/
}

p
{
    margin: 0;
}