/*------------------------ DEFAULT ------------------------*/
@import "../page/style.css";

section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--i-node-arg-height);
    --i-node-arg-height: 3em;
    --i-node-arg-node-thickness: 1.1em;
    --i-node-arg-node-margin: 1em;
    --i-node-arg-node-offset: calc(var(--i-node-arg-node-thickness) + var(--i-node-arg-node-margin) / 2);
}

div {
    position: relative;
    z-index: 1;
    width: var(--i-node-arg-node-thickness);
    height: var(--i-node-arg-node-thickness);
    margin: var(--i-node-arg-node-margin);
    border-radius: 50%;
    background-color: gray;
}

div.left {
    right: var(--i-node-arg-node-offset);
}

div.right {
    left: var(--i-node-arg-node-offset);
}

canvas.draw {
    /*outline: 1px solid black;*/
    /*outline-offset: -1px;*/
    position: fixed;
    z-index: 10;
    pointer-events: none;
    /*background-color: #0949d1;*/
    /*height: 0;*/
    /*width: 0;*/
}

p {
    margin: 0;
}