<header id="main_header">
    <link rel="stylesheet" href="/components/main_header/css/style.css">
    <script src="/dist/components/settings_button/js/main.js" type="module"></script>
    <script src="/dist/components/window_controls/js/main.js" type="module"></script>
    <div id="main_header_logo_wrapper">
        <p>Logo</p>
    </div>
    <div id="main_header_nav_wrapper">
        <nav id="main_header_nav">
            <ul id="main_header_nav_list">
                <li class="main_header_nav_list_element">
                </li>
            </ul>
        </nav>
    </div>
    <div id="main_header_right_options_nav_wrapper">
        <nav id="main_header_right_options_nav">
            <ul id="main_header_right_options_nav_list">
                <li class="main_header_right_options_list_element">
                    <settings-button id="main_header_settings_button"></settings-button>
                </li>
            </ul>
        </nav>
    </div>
    <window-controls id="main_header_window_controls"></window-controls>
</header>