<div id="window_controls">
    <link rel="stylesheet" href="assets/icons/remixicons/remixicon.css">
    <link rel="stylesheet" href="components/window_controls/style.css">
    <nav class="controls">
        <ul class="nav">
            <li class="nav minimize">
                <button class="nav minimize" id="window-minimize">
                    <i class="ri-subtract-line"></i>
                </button>
            </li>
            <li class="nav fullscreen">
                <button class="nav fullscreen" id="window-toggle-fs">
                    <i class="ri-fullscreen-line"></i>
                </button>
            </li>
            <li class="nav close" id="window-close">
                <button class="nav close">
                    <i class="ri-close-large-line"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>