<section>
    <form>
        <link rel="stylesheet" href="assets/icons/remixicons/remixicon.css">
        <link rel="stylesheet" href="components/node_pref/style.css">

        <div class="element">
            <label for="name">name:</label>
            <input name="name" type="text" id="name">
        </div>
        <div class="element">
            <label for="desc">description:</label>
            <textarea name="desc" id="desc" rows="6"></textarea>
        </div>
        <div class="element">
            <label for="keywords">keywords:</label>
            <textarea name="keywords" id="keywords" rows="3"></textarea>
        </div>
        <div class="element">
            <label for="version">version:</label>
            <input name="version" type="text" id="version">
        </div>
        <div class="element">
            <label for="author">author:</label>
            <input name="author" type="text" id="author">
        </div>
        <div class="element">
            <label for="website">website:</label>
            <input name="website" type="text" id="website">
        </div>
        <button type="submit"></button>
    </form>
</section>

