:root {
    --color-1: rgb(173,249,236);
    --color-2: rgb(184,224,172);
    --color-3: rgb(223,178,117);
    --color-4: rgb(237,150,119);

    --color-1-shaded-1: rgb(83,158,159);
    --color-1-shaded-2: rgb(0,92,93);
    --color-1-shaded-3: rgb(0,33,34);

    --color-2-shaded-1: rgb(102,139,92);
    --color-2-shaded-2: rgb(46,81,38);
    --color-2-shaded-3: rgb(0,30,0);

    --color-3-shaded-1: rgb(145,107,50);
    --color-3-shaded-2: rgb(89,59,0);
    --color-3-shaded-3: rgb(46,14,0);

    --color-4-shaded-1: rgb(162,84,57);
    --color-4-shaded-2: rgb(107,38,15);
    --color-4-shaded-3: rgb(60,0,0);

    --background-color: var(--color-1-shaded-3);

    --button-background-color: transparent;
    --button-border-color: var(--color-4-shaded-1);
}